In [1]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\sakew\\PycharmProjects\\Machine Learning Training'

In [2]:
file = "C:\\Users\\sakew\\PycharmProjects\\Machine Learning Training\\boston1.xls"

In [3]:
xl = pd.ExcelFile(file)

In [4]:
print(xl.sheet_names)

['Sheet1']

In [5]:
df1 = xl.parse('Sheet1')

In [6]:
df1.head()

,MV,INDUS,NOX,RM,TAX,PT,LSTAT,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,24.0,2.31,53.8,6.575,296,15.3,4.98,NaN,NaN,Subset of Boston housing tract
1,21.6,7.07,46.9,6.421,242,17.8,9.14,NaN,NaN,data of Harrison and Rubinfeld
2,34.7,7.07,46.9,7.185,242,17.8,4.03,NaN,NaN,(1978). Each case is one U.S.
3,33.4,2.18,45.8,6.998,222,18.7,2.94,NaN,NaN,Census tract in the Boston area.
4,36.2,2.18,45.8,7.147,222,18.7,5.33,NaN,NaN,NaN

In [7]:
df1.tail()

,MV,INDUS,NOX,RM,TAX,PT,LSTAT,Unnamed: 7,Unnamed: 8,Unnamed: 9
501,22.4,11.93,57.3,6.593,273,21.0,9.67,NaN,NaN,NaN
502,20.6,11.93,57.3,6.120,273,21.0,9.08,NaN,NaN,NaN
503,23.9,11.93,57.3,6.976,273,21.0,5.64,NaN,NaN,NaN
504,22.0,11.93,57.3,6.794,273,21.0,6.48,NaN,NaN,NaN
505,11.9,11.93,57.3,6.030,273,21.0,7.88,NaN,NaN,NaN