In [1]:
import pandas as pd
import numpy as np
import os

os.getcwd()

'C:\\Users\\sakew\\PycharmProjects\\Machine Learning Training'

In [8]:
file = "C:\\Users\\sakew\\PycharmProjects\\Machine Learning Training\\Resp1.csv"

In [9]:
df1 = pd.read_csv(file)

In [10]:
df1.head()

   fitness  respiration
0        0         3.94
1        0         4.26
2        0         4.16
3        0         3.76
4        0         4.07